<h2 mat-dialog-title>Добавить задачу</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Добавить элемент</mat-label>
    <input matInput [(ngModel)]="newItem">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="description" rows="5"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Приоритет</mat-label>
  <mat-select [(value)]="priority">
    <mat-option value="0">Нет</mat-option>
    <mat-option value="1">Низкий</mat-option>
    <mat-option value="2">Средний</mat-option>
    <mat-option value="3">Высокий</mat-option>
  </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="button-container">
  <button mat-button (click)="onCancelClick()" class="cancel-button">Отмена</button>
  <span class="spacer"></span>
  <button mat-button [mat-dialog-close]="{newItem: newItem, priority: priority,description:description}" cdkFocusInitial class="add-button">Добавить</button>
</mat-dialog-actions>
