.button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button {
    margin-right: 10px; /* Интервал между кнопками от правого края */
  }
  
  .add-button {
    margin-left: 10px; /* Интервал между кнопками от левого края */
  }